<!DOCTYPE html>
<html>
  <head>
    <title>Student Information</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-200 font-sans">
    <div class="container mx-auto px-4 py-8 mb-3">
      <div class="bg-gray-800 text-white py-4 text-center">
        <h1 class="text-2xl font-bold">Student Information</h1>
      </div>

      <table
        class="w-full bg-white shadow-md mt-8 border-collapse border border-gray-300"
      >
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-3 text-center border border-gray-300">Image</th>
            <th class="px-4 py-3 text-center border border-gray-300">
              First Name
            </th>
            <th class="px-4 py-3 text-center border border-gray-300">
              Last Name
            </th>
            <th class="px-4 py-3 text-center border border-gray-300">
              Student Code
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (students.length === 0) { %>
          <tr>
            <td colspan="4" class="px-4 py-3 text-center">No data</td>
          </tr>
          <% } else { %> <% students.forEach(student => { %>
          <tr class="border-b">
            <td
              class="py-3 flex items-center justify-center border border-gray-300"
            >
              <% if(!student.image) { %>
              <img src="/public/avatar.jpg" class="w-12 h-12 mr-4 rounded-sm" />
              <% } else { %>
              <img
                src="<%= student.image %>"
                alt="<%= student.firstName %>"
                class="w-12 h-12 mr-4 rounded-sm"
              />
              <% } %>
            </td>
            <td class="px-4 py-3 text-center border border-gray-300">
              <%= student.firstName %>
            </td>
            <td class="px-4 py-3 text-center border border-gray-300">
              <%= student.lastName %>
            </td>
            <td class="px-4 py-3 text-center border border-gray-300">
              <%= student.studentCode %>
            </td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
      <div
        class="w-full mx-auto px-4 mt-5 bg-green-500 item-center justify-center hover:bg-green-700 text-white font-bold py-2 rounded focus:outline-none focus:shadow-outline w-full"
      >
        <a class="w-full text-center block px-4" href="/add">Add Student</a>
      </div>
    </div>
  </body>
</html>
